<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <h3>Ideas</h3>
        <ul class='list-group'>
          <li ng-repeat="idea in ideas" class='list-group-item'>
            <div class="row">
              <div ng-hide="idea.editForm">
                <div class="col-sm-11" >
                  <h4><a ui-sref="idea-show( { id: idea._id } )"><strong>{{ idea.title }}</strong></a> by {{ idea.author }}</h4>
                  <p>{{idea.description}}</p>
                  <p>Pledge request: {{ idea.amount_required }}</p>
                </div>
                <a href="#" ng-click="idea.editForm=true">
                  <i class='icon ion-edit'></i>
                </a>
                <a href="#" ng-click="deleteIdea(idea, $index)">
                  <i class='ion-trash-b'></i>
                </a>
              </div>
              <div> <!-- edit form -->
                <div class="col-sm-12">
                  <form class='form-group' ng-show="idea.editForm" ng-submit="editIdea(idea)">
                    <input type="text" class="form-control" ng-model="idea.title"/>
                    <br>
                    <textarea class="form-control" ng-model="idea.description"/>
                    <br>
                    <input type="text" class="form-control" ng-model="idea.author"/>
                    <br>
                    <textarea class="form-control" ng-model="idea.author_details"/>
                    <br>
                    <input type="number" class="form-control" ng-model="idea.amount_required"/>
                    <br>
                    <button type="submit" class='btn btn-primary pull-right'>Update</button>
                  </form>
                </div>
              </div> <!-- end of edit form -->
            </div>
          </li>
        </ul>
      </div> 
    </div> <!-- end of col -->
  </div> <!-- end of row -->
</div>