<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h3>Book and Article Ideas</h3>
      <form ng-submit="createIdea()" class="form-group">
        <label for="">Author name</label>
        <input class="form-control" type="text" ng-model="idea.author"/>
        <label for="">Title of your idea</label>
        <input class="form-control" type="text" ng-model="idea.title"/>
        <label for="">Describe your idea</label>
        <textarea class="form-control" type="text-area" ng-model="idea.description"/>
        <label for="">Amount required to be pledged</label>
        <input class="form-control" type="number" ng-model="idea.amount_required"/>      
        <br>
        <div class="text-right">
          <button class='btn btn-primary' type="submit">Create</button>
        </div>
      </form>
    </div> <!-- end of col -->
  </div> <!-- end of row -->
  <br><br>
  <div class="row">
    <div class="col-sm-12">
      <h3>Ideas</h3>
      <ul class='list-group'>
        <li ng-repeat="idea in ideas" class='list-group-item'>
          <h4><a ui-sref="idea-show( { id: idea._id } )"><strong>{{ idea.title }}</strong></a> by {{ idea.author }}</h4>
          <p>{{idea.description}}</p>
          <p>Pledge request: {{ idea.amount_requried }}</p>
          <a href="#" class='pull-right' ng-click="deleteIdea(idea, $index)">
            <i class='icon ion-close-circled'></i>
          </a>
        </li>
      </ul>
    </div> <!-- end of col -->
  </div> <!-- end of row -->
</div>