<div class="container">
  <div class="row"  ng-controller="IdeaShowCtrl">
    <div class="col-sm-12">
      <h3>{{idea.title}}</h3>
      <p>{{idea.description}}</p>
      <p>Pledge request: {{ idea.amount_requried }}</p>
    </div> <!-- end of col -->
  </div> <!-- end of row -->
  <div class="row" ng-controller="PledgeIndexCtrl">
    <div class="col-sm-8 col-sm-offset-2">
      <h3>Pledge</h3>
      <form ng-submit="createPledge()" class="form-group">
        <label for="">Name</label>
        <input class="form-control" type="text" ng-model="pledge.pledger"/>
        <label for="">Comments</label>
        <input class="form-control" type="text" ng-model="pledge.comments"/>
        <label for="">Amount pledged</label>
        <input class="form-control" type="number" ng-model="pledge.amount_pledged"/>      
        <br>
        <div class="text-right">
          <button class='btn btn-primary' type="submit">Pledge</button>
        </div>
      </form>
    </div> <!-- end of col -->
  
    <div class="col-sm-12">
      <h3>Pledges</h3>
      <ul class='list-group'>
        <li ng-repeat="pledge in ideaPledges" class='list-group-item'>
          <h4><strong>{{ pledge.amount_pledged }}</strong> by {{ pledge.pledger }}</h4>
          <p>{{pledge.comments}}</p>
          <a href="#" class='pull-right' ng-click="deletePledge(pledge, $index)">
            <i class='icon ion-close-circled'></i>
          </a>
        </li>
      </ul>
    </div> <!-- end of col -->
  </div> <!-- end of row -->
</div>